
@{
    ViewBag.Title = "Home Page";
}
@model crud.MasterMobile.Models.MasterMobileModel
<h2>Add New</h2>
<div class="col-md-12">
    <h4>Master Mobile</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class=" form-horizontal">
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.mstMblNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mstMblNo, new { htmlAttributes = new { @class = "form-control", placeholder="ex: 89020424" } })
            @Html.ValidationMessageFor(model => model.mstMblNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.mstMblCtrCd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mstMblCtrCd, new { htmlAttributes = new { @class = "form-control", placeholder = "ex: +62" } })
            @Html.ValidationMessageFor(model => model.mstMblCtrCd, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.mstPosCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mstPosCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mstPosCode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.act, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.act, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.act, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.otpMode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.otpMode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.otpMode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.otp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.otp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.otp, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class=" btn btn-primary" />
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}

